body {
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url('../assets/ravelights.png')
}

.full {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 140px;
  right: 140px;
  justify-content: center;
  align-content: center;
}

.landingimg {
  height: 100%;
  width: 100%;
  animation: pulse 3.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}

.landingbtn {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 10%;
  height: 5%;
  border-radius: 5px;
}

.landingbtn:focus, .landingbtn:active, .landingbtn.active, .landingbtn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mainbtn {
  border: none;
  margin-left: 11.5%;
  font-size: 130%;
  display: inline-block;
}

.mainbtn:focus, .mainbtn:active, .mainbtn.active, .mainbtn:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.openerwords {
  color: white;
  font-size: 600%;
  margin-top: 10%;
  text-align: center;
}

.openbelow {
  color: white;
  font-size: 600%;
  margin-top: 30%;
  text-align: center;
}

.main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: white;
  left: 80px;
  right: 80px;
  justify-content: center;
  align-content: center;
}

.headerWords {
  text-align: center;
  font-size: 300%;
}

.bottomBar {
  width: 80%;
  background-color: black;
  height: 3px;
  margin-left: 10%;
}
